:root{
    --orange-color: #FA7436;
    --white-color: #FEFCFB;
     --color:#F7F8FC;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    
}
.main{
    max-width: 1134px;
    margin: 0 auto;
}
.btn-light{
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 5px;
    color: #FEFCFB;
    background-color: #FA7436;
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    line-height: 3px;
}
header{
    background-color: #FEFCFB;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 1134px;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;
    
   
}

.logo{
    font-family: "Volkhov",sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(8, 8, 8);
}
.img{
    margin-right: 300px;
    margin-top: 5px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    right: -200px
   

}
nav ul li a{
    font-weight: normal;
    font-size: 16px;
    color:black;
    text-decoration:none;
    
    
    
}
nav ul.log li a{
    color: #FA7436;
   
}
nav ul.log li a.btn-light{
    width: 130px;
    box-shadow: 0px 2px 5px var(--orange-color);
    color: #FEFCFB;
}
.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    position: relative;
    bottom: 60px;

}
.hero-section .left h1{
    font-family: "Volkhov",sans-serif;
    font-weight:bold;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 100%;
    color: black ;
    position: relative;
    width: 400px;
    gap: 20px;
}
.hero-section .left h1 span{
    color: #FA7436;
}

.hero-section .left p{
    font-weight: normal;
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 200px;
    width: 400px;
    bottom: -60px;
}
.hero-section .left .dis{
    padding: 16px 32px;
    border-radius: 5px;
    color:var(--orange-color);
    background-color:#FEFCFB;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 90px;
    position: relative;
    line-height: 3px;
    border-color: var(--orange-color);
    bottom: 140px;
}
.hero-section .right {
    position: relative;
    margin-right: 100px;
    bottom: 100px;
   
  }
  
.right .hero-image1 {
 
    padding-left: 120px;
    width: 100%; 
    height: 100%; 
    margin: 200px;
    margin-bottom: 250px;
    margin-top: -50px;
    height: -60px;
    margin-left:-100px;
    margin-right: -220px;
    position: relative;
    bottom: 150px;
    right: -100px;
    transform: scale(0.8);
 
     
}

.right .hero-image2 {
 
    padding-left: 120px;
    width: -5%; 
    height: 9px; 
    margin: 150px;
    margin-bottom: -200px;
    margin-top: -280px;
    margin-right: -40px;
    height: 200px;
    margin-left:-10px; 
    position: relative;
    bottom: 272px;
    right: -100px;
    transform: scale(0.8);
}



.explorebox{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-weight: normal;
    font-size: 16px;
    line-height: 2px;
    margin-top: 125px;
    width: 60%;
    
  
}
   
.explorebox p{
    color: black;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}

.explorebox h4{
    font-family: poppins;
    font-weight: semi-bold;
    line-height: 20px;
}
.explorebox img{
    margin: -2px 5px -7px 5px;
}
.explorebox {
    border: 1px solid #FEFCFB;
    box-shadow: 0px 2px 5px ;
    margin-left: 160px;
    height: 85px;
   margin-top: -200px;
    width: 1000px;
    padding: 40px 40px 20px;
    font-size: small;
    gap: 20px;
    transform: scale(0.8);
    
    
   
   
}
.explorebox .btn-light{
    box-shadow: 0px 2px 5px var(--orange-color);
    color: #FEFCFB;
}
.achievement-cards .content1{
    display: flex;
    border:1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    width: 160px;
    line-height: 15px;
     position: absolute;
    left: 190px;
    bottom: 120px;
    background: #FEFCFB;
    transform: scale(0.8);
}
.achievement-cards .content2{
    display: flex;
    border:1px solid black;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    width: 210px;
    line-height: 25px;
    position: absolute;
    right: -100px;
    bottom: -15px;
    background: #FEFCFB;
    transform: scale(0.7);


} 
.achievement-cards .content2 span{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.achievement-cards .content3{
    display: flex;
    border:1px solid black;
    border-radius: 20px;
   align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    width: 230px;
    line-height: 18px;
    padding: 5px;
    position: absolute;
    left: 190px;
    top: 110px;
    background: #FEFCFB;
    transform: scale(0.8);
} 
.achievement-cards .content3 span{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.to-do{
    border: 1px solid #FEFCFB;
    margin: 300px;
}